* {
  box-sizing: border-box;
}
.App {
  font-family: "Hachi Maru Pop", cursive;
  display: flex;
  padding: 15px;
}
.App .Meta {
  flex-grow: 1;
  padding-right: 15px;
}
.App .Meta input {
  font-family: inherit;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}
.App .Meta button {
  padding: 10px 15px;
  font-family: inherit;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
}

.App #certificateWrapper {
  position: relative;
}

.App #certificateWrapper p {
  font-family: "Staatliches", cursive;
  margin: 0;
  position: absolute;
  left: 150px;
  text-align: center;
  top: 330px;
  font-size: 25pt;
}
